.owner-card {
  position: relative;

  &__form {
    &_loading {
      filter: opacity(0.3);
    }
  }

  &__field {
    display: block;
    max-width: 400px;
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
