
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened>
    <h2>Navigation</h2>

    <mat-toolbar>
      <mat-toolbar-row>
        <a mat-button href="animal">Animal</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-button href="owner">Owner</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-button href="wild-animal">Wild Animal</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-button href="pet">Pet</a>
      </mat-toolbar-row>
    </mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
