<h1 mat-dialog-title>Animal card</h1>
<ng-container *ngIf="model$ | async as model">
  <section mat-dialog-content
           class="animal-card">
    <form [formGroup]="formGroup" class="animal-card__form"
          [ngClass]="{'animal-card__form_loading': model.animalLoading}">

      <p>
        <mat-form-field>
          <mat-label>Animal's birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Choose a species</mat-label>
          <input matInput placeholder="Species" formControlName="species">
        </mat-form-field>
      </p>

      <mat-checkbox formControlName="vaccinated">Vaccinated</mat-checkbox>

    </form>

    <section class="animal-card__spinner"
             *ngIf="model.animalLoading">
      <mat-spinner></mat-spinner>
    </section>
  </section>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save(formGroup, model.animal)" cdkFocusInitial>Save</button>
  </div>
</ng-container>
